*{
  font-family: 'Poppins', sans-serif;
}

#container {
  text-align: center;
  margin-top: 100px;
}

.icon{
  height: 250px;
  width: 300px;
}

.ion-60p{
  font-size: 40px;
}

.temp{
  color:rgb(51, 207, 45);
}

.icon-src ion-buttons{
  margin: 0px;
  padding: 0px;
}

#searchbar{
  width: 100%;
}
